{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="icon" href="{% static 'icon/academic.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body class="poppins-regular ">
    <navbar class="fixed top-0 left-0 right-0 z-30 select-none">
        <div class="w-full relative bg-blue-500 h-18 flex justify-between px-6 p-2 shadow-md/20" >
            <div class="md:w-96 w-24 flex items-center">
                <img src="{% static 'svg/logo.svg' %}" alt="Logo" class="h-12 hidden md:block">
                <h1 class="px-3 font-semibold text-white text-xl mt-[-3px] hidden md:block">Academic</h1>
        
                <div id="hamburger" class="button w-10 h-10 md:ml-18 hover:bg-blue-50/10 rounded-full flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                </div>
            </div>

            <div class="md:w-1/3 w-2/5 flex md:space-x-4 p-2 md:mt-0 mt-1 justify-end">
            <input type="text" placeholder="Search..." class="w-2/5 p-2 md:block hidden rounded-md bg-blue-200/30 text-white focus:outline-none focus:ring-0 focus:border-transparent">
            
            <div class="button hover:bg-blue-50/10 px-4 py-2 rounded-md ripple">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0M3.124 7.5A8.969 8.969 0 0 1 5.292 3m13.416 0a8.969 8.969 0 0 1 2.168 4.5" />
                </svg>
            </div>

            <div id="profile-button" class="button hover:bg-blue-50/10 px-4 py-2 rounded-md select-none">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>
            </div>
            <div id="dropdown-menu-profile" class="absolute right-8 md:right-12 h-14 mt-14 w-40 bg-white rounded-md shadow-lg hidden z-50 select-none group">
  
                <a href="{% url 'logout' %}"
                    class="flex items-center px-4 py-2 text-gray-800 hover:bg-blue-100 group-hover:text-blue-700 hover:rounded-md h-14 w-full">
                    
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        class="size-5 mr-2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                            d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6
                            a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6
                            a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3
                            m0 0 3-3m-3 3H15"/>
                    </svg>
                    <span>Logout</span>
                </a>
                </div>
            </div>
        </div>
    </navbar>

    <div class="flex min-h-screen pt-18">
        <aside id="sidebar" class="bg-white w-64 md:w-72 shadow-lg/20 transform fixed h-full transition-all duration-300 ease-in-out z-20 p-2">
        
            <div class="flex flex-col h-full mt-4 select-none">
                <div class="w-full h-12">
                    <h3 class="text-xs font-semibold text-sky-700 leading-7 pl-6">ACADEMIC</h3>
                    <h3 class="text-xs font-normal pl-6">Dashboard</h3>
                </div>

                <a href="#"><div class="w-full h-14 mt-4 hover:bg-sky-200/30 rounded-lg flex p-5 items-center hover:text-blue-700 transition-all duration-100 ease-in-out">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                        </svg>
                    </div>
                    <div class="ml-4 ">
                        <p class="text-sm font-normal transition-all duration-100 ease-in-out">Dashboard</p>
                    </div>
                </div>
                </a>

                <div class="w-full h-12 mt-4">
                    <h3 class="text-xs font-semibold text-sky-700 leading-7 pl-6">PAGES</h3>
                    <h3 class="text-xs font-normal pl-6">Features</h3>
                </div>

                <a href="#"><div class="group w-full h-14 mt-4 hover:bg-sky-200/30 rounded-lg flex p-5 items-center hover:text-blue-700 transition-all duration-100 ease-in-out">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3v11.25A2.25 2.25 0 0 0 6 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0 1 18 16.5h-2.25m-7.5 0h7.5m-7.5 0-1 3m8.5-3 1 3m0 0 .5 1.5m-.5-1.5h-9.5m0 0-.5 1.5m.75-9 3-3 2.148 2.148A12.061 12.061 0 0 1 16.5 7.605" />
                        </svg>
                    </div>
                    <div class="ml-4">
                        <p class="text-sm font-normal transition-all duration-100 ease-in-out">Schedule</p>
                    </div>
                </div>
                </a>

                <a href="#"><div class="group w-full h-14 mt-4 hover:bg-sky-200/30 rounded-lg flex p-5 items-center hover:text-blue-700 transition-all duration-100 ease-in-out">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Zm6-10.125a1.875 1.875 0 1 1-3.75 0 1.875 1.875 0 0 1 3.75 0Zm1.294 6.336a6.721 6.721 0 0 1-3.17.789 6.721 6.721 0 0 1-3.168-.789 3.376 3.376 0 0 1 6.338 0Z" />
                        </svg>
                    </div>
                    <div class="ml-4">
                        <p class="text-sm font-normal transition-all duration-100 ease-in-out">Lecturer</p>
                    </div>
                </div>
                </a>

                <div class="w-full mt-4">
                <button onclick="toggleDropdown()" class=" w-full h-14 hover:bg-sky-200/30 rounded-lg flex p-5 items-center justify-between hover:text-blue-700 transition-all duration-100 ease-in-out">
                    <div class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                    </svg>
                    <p class="ml-4 text-sm font-normal">Authentication</p>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 transform transition-transform duration-200" id="dropdown-arrow" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.585l3.71-4.355a.75.75 0 011.14.976l-4.25 5a.75.75 0 01-1.14 0l-4.25-5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                    </svg>
                </button>

                <div id="dropdown-content" class="ml-10 mt-2 hidden text-sm text-gray-700 space-y-4 transition-all duration-300 ease-in-out">
                    <a href="{% url 'signin' %}" class="group flex items-center space-x-2 px-3 py-2 rounded-md  hover:text-blue-500 transition group">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-gray-400 group-hover:text-blue-500 transition" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                        </svg>
                        <span>Login</span>
                    </a>
                                    
                    <a href="#" class="flex items-center space-x-2 px-3 py-2 rounded-md hover:text-blue-500 transition group">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-gray-400 group-hover:text-blue-500 transition" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                        </svg>
                        <span>Register</span>
                    </a>
                </div>

                <a href="#"><div class="group w-full h-14 mt-4 hover:bg-sky-200/30 rounded-lg flex p-5 items-center hover:text-blue-700 transition-all duration-100 ease-in-out">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m20.25 7.5-.625 10.632a2.25 2.25 0 0 1-2.247 2.118H6.622a2.25 2.25 0 0 1-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z" />
                        </svg>
                    </div>
                    <div class="ml-4">
                        <p class="text-sm font-normal transition-all duration-100 ease-in-out">Additional</p>
                    </div>
                </div>
                </a>
                
                </div>
            </div>
        </aside>    

        {% block content %}

        <div id="main-content" class="w-full transition-all duration-300 p-12 select-none">
           <div class="flex lg:flex-row flex-col gap-6 ">
                <div class="flex-1 h-38 rounded-xl shadow-lg/20 bg-white">
                    <div class="flex justify-between items-center p-6">
                        <div>
                        <h2 class="text-2xl font-bold text-amber-400 ">100</h2>
                        <p class="text-sm text-gray-700 font-medium mt-2">Total Lecturers</p>
                        </div>
                        <div class="bg-amber-500/10 p-2 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-amber-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
                        </svg>
                        </div>
                    </div>
                    <div class="bg-amber-500 h-12 rounded-b-xl">
                        <div class="flex items-center justify-between px-6 h-full">
                            <p class="text-sm text-white">85 active lecturers</p>
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-white">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941" />
                                </svg>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="flex-1 h-38 rounded-xl shadow-lg/20 bg-white">
                    <div class=" flex justify-between items-center p-6">
                        <div>
                        <h2 class="text-2xl font-bold text-emerald-500">100+</h2>
                        <p class="text-sm text-gray-700 font-medium mt-2">Total Courses</p>
                        </div>
                        <div class="bg-emerald-500/10 p-2 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-emerald-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
                        </svg>
                        </div>
                    </div>
                    <div class="bg-emerald-500 h-12 rounded-b-xl">
                        <div class="flex items-center justify-between px-6 h-full">
                            <p class="text-sm text-white">3 new this semester</p>
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-white">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941" />
                                </svg>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="flex-1 h-38 rounded-xl shadow-lg/20 bg-white">
                    <div class="flex justify-between items-center p-6">
                        <div>
                        <h2 class="text-2xl font-bold text-red-400">64</h2>
                        <p class="text-sm text-gray-700 font-medium mt-2">Total Classes</p>
                        </div>
                        <div class="bg-red-500/10 p-2 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-red-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0 1 18 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3 1.5 1.5 3-3.75" />
                        </svg>

                        </div>
                    </div>
                    <div class="bg-red-500 h-12 rounded-b-xl">
                        <div class="flex items-center justify-between px-6 h-full">
                            <p class="text-sm text-white">12% fewer than 2023</p>
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-white">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6 9 12.75l4.286-4.286a11.948 11.948 0 0 1 4.306 6.43l.776 2.898m0 0 3.182-5.511m-3.182 5.51-5.511-3.181" />
                                </svg>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="flex-1 h-38 rounded-xl shadow-lg/20 bg-white">
                    <div class="flex justify-between items-center p-6">
                        <div>
                        <h2 class="text-2xl font-bold text-sky-400">20243</h2>
                        <p class="text-sm text-gray-700 font-medium mt-2">Current Semester</p>
                        </div>
                        <div class="bg-sky-500/10 p-2 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-sky-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z" />
                        </svg>

                        </div>
                    </div>
                    <div class="bg-sky-500 h-12 rounded-b-xl">
                        <div class="flex items-center justify-between px-6 h-full">
                            <p class="text-sm text-white">ongoing since June</p>
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-white">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                                </svg>
                            </p>
                        </div>
                    </div>
                </div>
           </div>
        </div>

        {% endblock %}

        
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>