{% extends 'dashboard_hsp.html' %}
{% load static %}
{% block title %}Semester 20251{% endblock %}

{% block content %}

<div id="main-content" class="w-full p-4 lg:ml-64">

    <div class="bg-white rounded-lg shadow-md mb-4 p-4">
        <div class="flex items-center justify-between">

            <div class="relative w-64">
                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>
                </div>
                <input type="text" 
                      id="lecturerFilter"
                      class="block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md leading-5 bg-white placeholder-gray-500 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" 
                      placeholder="Filter...">
            </div>

            <div class="flex items-center space-x-1">
                <a href="{% url 'formstudyprogram' '20251' %}" 
                   class="px-4 py-2 text-sm font-medium {% if active_semester == '20251' %}text-blue-600 border-b-2 border-blue-600{% else %}text-gray-500 hover:text-gray-700 hover:border-b-2 hover:border-gray-300{% endif %}">
                    20251
                </a>
                <a href="{% url 'formstudyprogram' '20252' %}" 
                   class="px-4 py-2 text-sm font-medium {% if active_semester == '20252' %}text-blue-600 border-b-2 border-blue-600{% else %}text-gray-500 hover:text-gray-700 hover:border-b-2 hover:border-gray-300{% endif %}">
                    20252
                </a>
                <a href="{% url 'formstudyprogram' '20253' %}" 
                   class="px-4 py-2 text-sm font-medium {% if active_semester == '20253' %}text-blue-600 border-b-2 border-blue-600{% else %}text-gray-500 hover:text-gray-700 hover:border-b-2 hover:border-gray-300{% endif %}">
                    20253
                </a>
            </div>
        </div>
    </div>

    <div class="bg-white rounded-lg shadow-md overflow-hidden">

        <div class="bg-gray-50 px-6 py-4 border-b border-gray-200">
  <div class="flex justify-between items-center">
    <div>
      <h2 class="text-2xl font-bold text-gray-800">Semester {{semester_title}}</h2>
      <p class="text-gray-600 mt-1">Information: Assign Academic Module</p>
    </div>
  <button onclick="openAddModal()" class="cursor-pointer bg-blue-500 text-white px-3 py-3 rounded-lg flex items-center gap-2 transition-colors">
  <img src="{% static 'svg/add.svg' %}" alt="Add Icon" class="w-5 h-5">
  Academic Module
</button>
  </div>
</div>

<div class="border-t border-gray-200">
  <div class="overflow-auto max-h-[500px]">
    <table class="min-w-[1200px] w-full table-fixed">
  <thead class="bg-gray-200 sticky top-0 z-10">
    <tr>
      <th class="px-4 py-2 text-left text-xs font-semibold text-gray-700 uppercase break-words w-[120px]">No</th>
      <th class="px-4 py-2 text-left text-xs font-semibold text-gray-700 uppercase break-words w-[120px]">Program Session</th>
      <th class="px-4 py-2 text-left text-xs font-semibold text-gray-700 uppercase break-words w-[120px]">Major</th>
      <th class="px-4 py-2 text-left text-xs font-semibold text-gray-700 uppercase break-words w-[120px]">Curriculum</th>
      <th class="px-4 py-2 text-left text-xs font-semibold text-gray-700 uppercase break-words w-[140px]">Class</th>
      <th class="px-4 py-2 text-left text-xs font-semibold text-gray-700 uppercase break-words w-[200px]">Subject</th>
      <th class="px-2 py-2 text-left text-xs font-semibold text-gray-700 uppercase w-[60px]">Credit</th>
      <th class="px-4 py-2 text-left text-xs font-semibold text-gray-700 uppercase break-words w-[160px]">Lecturer 1</th>
      <th class="px-4 py-2 text-left text-xs font-semibold text-gray-700 uppercase break-words w-[160px]">Lecturer 2</th>
      <th class="px-4 py-2 text-left text-xs font-semibold text-gray-700 uppercase break-words w-[160px]">Lecturer 3</th>
      <th class="px-4 py-2 text-left text-xs font-semibold text-gray-700 uppercase w-[100px]">Action</th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200 text-sm text-gray-900">
    {% for item in semester_data %}
    <tr class="hover:bg-gray-50">
      <td class="px-4 py-2 break-words">{{ forloop.counter }}</td>
      <td class="px-4 py-2 break-words">{{ item.program_session }}</td>
      <td class="px-4 py-2 break-words">{{ item.major }}</td>
      <td class="px-4 py-2 break-words">{{ item.curriculum }}</td>
      <td class="px-4 py-2 break-words">{{ item.major_class }}</td>
      <td class="px-4 py-2 break-words">{{ item.subject }}</td>
      <td class="px-2 py-2 text-center">{{ item.credit }}</td>
      <td class="px-4 py-2 break-words">{{ item.lecturer_1 }}</td>
      <td class="px-4 py-2 break-words">{{ item.lecturer_2 }}</td>
      <td class="px-4 py-2 break-words">{{ item.lecturer_3 }}</td>
      <td class="px-4 py-2">
        <div class="flex justify-center items-center gap-2">
          <button onclick="openEdit(this)"
            class="w-8 h-8 bg-indigo-100 hover:bg-indigo-200 rounded flex justify-center items-center"
            data-id="{{ item.semester_id }}"
            data-session="{{ item.program_session }}"
            data-major="{{ item.major }}"
            data-curriculum="{{ item.curriculum }}"
            data-major_class="{{ item.major_class }}"
            data-subject="{{ item.subject }}"
            data-credit="{{ item.credit }}"
            data-lecturer1="{{ item.lecturer_1 }}"
            data-lecturer2="{{ item.lecturer_2 }}"
            data-lecturer3="{{ item.lecturer_3 }}">
            <img src="{% static 'svg/edit.svg' %}" class="w-4 h-4 object-contain" alt="Edit">
          </button>
          <button onclick="deleteRecord('{{ item.semester_id }}')"
            class="w-8 h-8 bg-red-100 hover:bg-red-200 rounded flex justify-center items-center">
            <img src="{% static 'svg/delete.svg' %}" class="w-4 h-4 object-contain" alt="Delete">
          </button>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


  </div>
</div>


       
        <div id="addModal" class="fixed inset-0 bg-gray-800/40 flex items-center justify-center z-50 hidden">
  <div class="bg-white rounded-lg shadow-lg w-full max-w-xl max-h-[90vh] overflow-y-auto p-8">
    
    <div class="flex items-center justify-between mb-6">
      <h2 class="text-2xl font-bold text-gray-900">Academic Module</h2>
      <button type="button" onclick="closeAddModal()" class="group hover:text-red-600 cursor-pointer transition-colors">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
      </button>
    </div>

  <form id="addForm">
  {% csrf_token %}
  <div class="space-y-4">

  
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">Program Session</label>
      <select name="program_session" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2" required>
        <option value="">Select program session</option>
        <option value="M">M</option>
        <option value="N">N</option>
      </select>
    </div>

  
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">Major</label>
      <select id="majorSelect" name="major" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2" required>
        <option value="">Select major</option>
        <option value="PS_AB">PS_AB</option>
  <option value="PS_Ak">PS_Ak</option>
  <option value="PS_AR">PS_AR</option>
  <option value="PS_BA">PS_BA</option>
  <option value="PS_DI">PS_DI</option>
  <option value="PS_DKV">PS_DKV</option>
  <option value="PS_HI">PS_HI</option>
  <option value="PS_Hukum">PS_Hukum</option>
  <option value="PS_IA">PS_IA</option>
  <option value="PS_IKom">PS_IKom</option>
  <option value="PS_Man">PS_Man</option>
  <option value="PS_PGSD">PS_PGSD</option>
  <option value="PS_SI">PS_SI</option>
  <option value="PS_TE">PS_TE</option>
  <option value="PS_TInd">PS_TInd</option>
  <option value="PS_TInf">PS_TInf</option>
  <option value="PS_TL">PS_TL</option>
  <option value="PS_TM">PS_TM</option>
  <option value="PS_TS">PS_TS</option>

      </select>
    </div>

<div>
  <label class="block text-sm font-medium text-gray-700 mb-1">Curriculum</label>
  <select id="curriculumSelect" name="curriculum" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2" required>
    <option value="">Select curriculum</option>
  </select>
</div>

 
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">Class</label>
      <select id="classSelect" name="major_class" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2" required>
        <option value="">Select class</option>
      </select>
    </div>

<div>
  <label class="block text-sm font-medium text-gray-700 mb-1">Subject</label>
  <input type="text" name="subject" list="subjectList" placeholder="Enter subject"
         class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2" required>
  <datalist id="subjectList"></datalist>
</div>

 
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">Credit</label>
      <select name="credit" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2" required>
        <option value="">Select credit</option>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>

 
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">Lecturer 1</label>
      <input type="text" name="lecturer_1" placeholder="Enter lecturer 1" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2">
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">Lecturer 2</label>
      <input type="text" name="lecturer_2" placeholder="Enter lecturer 2" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2">
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">Lecturer 3</label>
      <input type="text" name="lecturer_3" placeholder="Enter lecturer 3" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2">
    </div>
  </div>

  <div class="flex justify-end gap-2 mt-6">
    <button type="submit" class="bg-blue-700 text-white px-4 py-2 rounded-lg hover:bg-blue-800 transition-colors">
      Add
    </button>
  </div>
</form>
  </div>
</div>

      <div id="addModal20253" class="fixed inset-0 bg-gray-800/40 flex items-center justify-center z-50 hidden">
  <div class="bg-white rounded-lg shadow-lg w-full max-w-xl max-h-[90vh] overflow-y-auto p-8">
    
    <div class="flex items-center justify-between mb-6">
      <h2 class="text-2xl font-bold text-gray-900">Academic Module</h2>
      <button type="button" onclick="closeAddModal()" class="group hover:text-red-600 cursor-pointer transition-colors">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
      </button>
    </div>

  <form id="addForm20253">
  {% csrf_token %}
  <div class="space-y-4">
   
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">Program Session</label>
      <select name="program_session" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2" required>
        <option value="">Select program session</option>
        <option value="M">M</option>
        <option value="N">N</option>
      </select>
    </div>

  
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">Major</label>
      <select id="majorSelect20253" name="major" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2" required>
        <option value="">Select major</option>
        <option value="PS_AB">PS_AB</option>
  <option value="PS_Ak">PS_Ak</option>
  <option value="PS_AR">PS_AR</option>
  <option value="PS_BA">PS_BA</option>
  <option value="PS_DI">PS_DI</option>
  <option value="PS_DKV">PS_DKV</option>
  <option value="PS_HI">PS_HI</option>
  <option value="PS_Hukum">PS_Hukum</option>
  <option value="PS_IA">PS_IA</option>
  <option value="PS_IKom">PS_IKom</option>
  <option value="PS_Man">PS_Man</option>
  <option value="PS_PGSD">PS_PGSD</option>
  <option value="PS_SI">PS_SI</option>
  <option value="PS_TE">PS_TE</option>
  <option value="PS_TInd">PS_TInd</option>
  <option value="PS_TInf">PS_TInf</option>
  <option value="PS_TL">PS_TL</option>
  <option value="PS_TM">PS_TM</option>
  <option value="PS_TS">PS_TS</option>

      </select>
    </div>

<div>
  <label class="block text-sm font-medium text-gray-700 mb-1">Curriculum</label>
  <select id="curriculumSelect20253" name="curriculum" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2" >
    <option value="">Select curriculum</option>
  </select>
</div>

 
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">Class</label>
      <select id="classSelect20253" name="major_class" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2">
        <option value="">Select class</option>
      </select>
    </div>

<div>
  <label class="block text-sm font-medium text-gray-700 mb-1">Subject</label>
  <input type="text" name="subject" list="subjectList" placeholder="Enter subject"
         class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2" required>
  <datalist id="subjectList20253"></datalist>
</div>

 
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">Credit</label>
      <select name="credit" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2" required>
        <option value="">Select credit</option>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>

 
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">Lecturer 1</label>
      <input type="text" name="lecturer_1" placeholder="Enter lecturer 1" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2">
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">Lecturer 2</label>
      <input type="text" name="lecturer_2" placeholder="Enter lecturer 2" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2">
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">Lecturer 3</label>
      <input type="text" name="lecturer_3" placeholder="Enter lecturer 3" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2">
    </div>
  </div>

  <div class="flex justify-end gap-2 mt-6">
    <button type="submit" class="bg-blue-700 text-white px-4 py-2 rounded-lg hover:bg-blue-800 transition-colors">
      Add
    </button>
  </div>
</form>
  </div>
</div>

      
        <div id="editModal" class="fixed inset-0 bg-gray-800/40 flex items-center justify-center z-50 hidden">
  <div class="bg-white rounded-lg shadow-lg w-full max-w-xl max-h-[90vh] overflow-y-auto p-8">
    
    <div class="flex items-center justify-between mb-6">
      <h2 class="text-2xl font-bold text-gray-900">Edit Academic Module</h2>
      <button type="button" onclick="closeEdit()" class="group hover:text-red-600 transition-colors">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
      </button>
    </div>

    <form id="editForm">
      <input type="hidden" id="record-id" name="record_id">

      <div class="space-y-4">
        <div>
          <label for="edit-session" class="block text-sm font-medium text-gray-700 mb-1">Program Session</label>
          <select id="edit-session" name="program_session" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2" required>
            <option value="">Select program session</option>
            <option value="M">M</option>
            <option value="N">N</option>
          </select>
        </div>

        <div>
          <label for="edit-major" class="block text-sm font-medium text-gray-700 mb-1">Major</label>
          <select id="edit-major" name="major" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2" required>
            <option value="">Select major</option>
            <option value="PS_AB">PS_AB</option>
  <option value="PS_Ak">PS_Ak</option>
  <option value="PS_AR">PS_AR</option>
  <option value="PS_BA">PS_BA</option>
  <option value="PS_DI">PS_DI</option>
  <option value="PS_DKV">PS_DKV</option>
  <option value="PS_HI">PS_HI</option>
  <option value="PS_Hukum">PS_Hukum</option>
  <option value="PS_IA">PS_IA</option>
  <option value="PS_IKom">PS_IKom</option>
  <option value="PS_Man">PS_Man</option>
  <option value="PS_PGSD">PS_PGSD</option>
  <option value="PS_SI">PS_SI</option>
  <option value="PS_TE">PS_TE</option>
  <option value="PS_TInd">PS_TInd</option>
  <option value="PS_TInf">PS_TInf</option>
  <option value="PS_TL">PS_TL</option>
  <option value="PS_TM">PS_TM</option>
  <option value="PS_TS">PS_TS</option>
          </select>
        </div>

        <div>
          <label for="edit-curriculum" class="block text-sm font-medium text-gray-700 mb-1">Curriculum</label>
          <select id="edit-curriculum" name="curriculum" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2">
            <option value="">Select curriculum</option>
                <option value="AB-2023">AB-2023</option>
<option value="AB-2024">AB-2024</option>
<option value="AB-2025">AB-2025</option>
<option value="ACC-2023">ACC-2023</option>
<option value="ACC-2024">ACC-2024</option>
<option value="ACC-2025">ACC-2025</option>
<option value="ARC-2023">ARC-2023</option>
<option value="ARC-2024">ARC-2024</option>
<option value="ARC-2025">ARC-2025</option>
<option value="BA-2023">BA-2023</option>
<option value="BA-2024">BA-2024</option>
<option value="BA-2025">BA-2025</option>
<option value="ID-2023">ID-2023</option>
<option value="ID-2024">ID-2024</option>
<option value="ID-2025">ID-2025</option>
<option value="VCD-2023">VCD-2023</option>
<option value="VCD-2024">VCD-2024</option>
<option value="VCD-2025">VCD-2025</option>
<option value="IR-2023">IR-2023</option>
<option value="IR-2024">IR-2024</option>
<option value="IR-2025">IR-2025</option>
<option value="LAW-2023">LAW-2023</option>
<option value="LAW-2024">LAW-2024</option>
<option value="LAW-2025">LAW-2025</option>
<option value="ACS-2023">ACS-2023</option>
<option value="ACS-2024">ACS-2024</option>
<option value="ACS-2025">ACS-2025</option>
<option value="COMM-2023">COMM-2023</option>
<option value="COMM-2024">COMM-2024</option>
<option value="COMM-2025">COMM-2025</option>
<option value="MGT-2023">MGT-2023</option>
<option value="MGT-2024">MGT-2024</option>
<option value="MGT-2025">MGT-2025</option>
<option value="PSTE-2023">PSTE-2023</option>
<option value="PSTE-2024">PSTE-2024</option>
<option value="PSTE-2025">PSTE-2025</option>
<option value="IS-2023">IS-2023</option>
<option value="IS-2024">IS-2024</option>
<option value="IS-2025">IS-2025</option>
<option value="EE-2023">EE-2023</option>
<option value="EE-2024">EE-2024</option>
<option value="EE-2025">EE-2025</option>
<option value="IE-2023">IE-2023</option>
<option value="IE-2024">IE-2024</option>
<option value="IE-2025">IE-2025</option>
<option value="IT-2023">IT-2023</option>
<option value="IT-2024">IT-2024</option>
<option value="IT-2025">IT-2025</option>
<option value="ENV-2023">ENV-2023</option>
<option value="ENV-2024">ENV-2024</option>
<option value="ENV-2025">ENV-2025</option>
<option value="ME-2023">ME-2023</option>
<option value="ME-2024">ME-2024</option>
<option value="ME-2025">ME-2025</option>
<option value="CE-2023">CE-2023</option>
<option value="CE-2024">CE-2024</option>
<option value="CE-2025">CE-2025</option>
          </select>
        </div>

        <div>
          <label for="edit-major_class" class="block text-sm font-medium text-gray-700 mb-1">Class</label>
          <input type="text" id="edit-major_class" name="major_class" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2" >
        </div>

        <div>
          <label for="edit-subject" class="block text-sm font-medium text-gray-700 mb-1">Subject</label>
          <input type="text" id="edit-subject" name="subject" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2" required>
        </div>

        <div>
          <label for="edit-credit" class="block text-sm font-medium text-gray-700 mb-1">Credit</label>
          <select id="edit-credit" name="credit" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2" required>
            <option value="">Select credit</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>

        <div>
          <label for="edit-lecturer1" class="block text-sm font-medium text-gray-700 mb-1">Lecturer 1</label>
          <input type="text" id="edit-lecturer1" name="lecturer_1" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2">
        </div>

        <div>
          <label for="edit-lecturer2" class="block text-sm font-medium text-gray-700 mb-1">Lecturer 2</label>
          <input type="text" id="edit-lecturer2" name="lecturer_2" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2">
        </div>

        <div>
          <label for="edit-lecturer3" class="block text-sm font-medium text-gray-700 mb-1">Lecturer 3</label>
          <input type="text" id="edit-lecturer3" name="lecturer_3" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2">
        </div>
      </div>

      <div class="flex justify-end gap-2 mt-6">
        <button type="submit" class="bg-blue-700 text-white px-4 py-2 rounded-lg hover:bg-blue-800 transition-colors">
          Save
        </button>
      </div>
    </form>
  </div>
</div>

<div id="editModal20253" class="fixed inset-0 bg-gray-800/40 flex items-center justify-center z-50 hidden">
  <div class="bg-white rounded-lg shadow-lg w-full max-w-xl max-h-[90vh] overflow-y-auto p-8">
    
    <div class="flex items-center justify-between mb-6">
      <h2 class="text-2xl font-bold text-gray-900">Edit Academic Module</h2>
      <button type="button" onclick="closeEdit()" class="group hover:text-red-600 transition-colors">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
      </button>
    </div>

    <form id="editForm20253">
      <input type="hidden" id="record-id" name="record_id">

      <div class="space-y-4">
        <div>
          <label for="edit-session" class="block text-sm font-medium text-gray-700 mb-1">Program Session</label>
          <select id="edit-session" name="program_session" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2" required>
            <option value="">Select program session</option>
            <option value="M">M</option>
            <option value="N">N</option>
          </select>
        </div>

        <div>
          <label for="edit-major" class="block text-sm font-medium text-gray-700 mb-1">Major</label>
          <select id="edit-major" name="major" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2" required>
            <option value="">Select major</option>
            <option value="PS_AB">PS_AB</option>
  <option value="PS_Ak">PS_Ak</option>
  <option value="PS_AR">PS_AR</option>
  <option value="PS_BA">PS_BA</option>
  <option value="PS_DI">PS_DI</option>
  <option value="PS_DKV">PS_DKV</option>
  <option value="PS_HI">PS_HI</option>
  <option value="PS_Hukum">PS_Hukum</option>
  <option value="PS_IA">PS_IA</option>
  <option value="PS_IKom">PS_IKom</option>
  <option value="PS_Man">PS_Man</option>
  <option value="PS_PGSD">PS_PGSD</option>
  <option value="PS_SI">PS_SI</option>
  <option value="PS_TE">PS_TE</option>
  <option value="PS_TInd">PS_TInd</option>
  <option value="PS_TInf">PS_TInf</option>
  <option value="PS_TL">PS_TL</option>
  <option value="PS_TM">PS_TM</option>
  <option value="PS_TS">PS_TS</option>
          </select>
        </div>

        <div>
          <label for="edit-curriculum" class="block text-sm font-medium text-gray-700 mb-1">Curriculum</label>
          <select id="edit-curriculum" name="curriculum" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2">
            <option value="">Select curriculum</option>
                        <option value="AB-2023">AB-2023</option>
<option value="AB-2024">AB-2024</option>
<option value="AB-2025">AB-2025</option>
<option value="ACC-2023">ACC-2023</option>
<option value="ACC-2024">ACC-2024</option>
<option value="ACC-2025">ACC-2025</option>
<option value="ARC-2023">ARC-2023</option>
<option value="ARC-2024">ARC-2024</option>
<option value="ARC-2025">ARC-2025</option>
<option value="BA-2023">BA-2023</option>
<option value="BA-2024">BA-2024</option>
<option value="BA-2025">BA-2025</option>
<option value="ID-2023">ID-2023</option>
<option value="ID-2024">ID-2024</option>
<option value="ID-2025">ID-2025</option>
<option value="VCD-2023">VCD-2023</option>
<option value="VCD-2024">VCD-2024</option>
<option value="VCD-2025">VCD-2025</option>
<option value="IR-2023">IR-2023</option>
<option value="IR-2024">IR-2024</option>
<option value="IR-2025">IR-2025</option>
<option value="LAW-2023">LAW-2023</option>
<option value="LAW-2024">LAW-2024</option>
<option value="LAW-2025">LAW-2025</option>
<option value="ACS-2023">ACS-2023</option>
<option value="ACS-2024">ACS-2024</option>
<option value="ACS-2025">ACS-2025</option>
<option value="COMM-2023">COMM-2023</option>
<option value="COMM-2024">COMM-2024</option>
<option value="COMM-2025">COMM-2025</option>
<option value="MGT-2023">MGT-2023</option>
<option value="MGT-2024">MGT-2024</option>
<option value="MGT-2025">MGT-2025</option>
<option value="PSTE-2023">PSTE-2023</option>
<option value="PSTE-2024">PSTE-2024</option>
<option value="PSTE-2025">PSTE-2025</option>
<option value="IS-2023">IS-2023</option>
<option value="IS-2024">IS-2024</option>
<option value="IS-2025">IS-2025</option>
<option value="EE-2023">EE-2023</option>
<option value="EE-2024">EE-2024</option>
<option value="EE-2025">EE-2025</option>
<option value="IE-2023">IE-2023</option>
<option value="IE-2024">IE-2024</option>
<option value="IE-2025">IE-2025</option>
<option value="IT-2023">IT-2023</option>
<option value="IT-2024">IT-2024</option>
<option value="IT-2025">IT-2025</option>
<option value="ENV-2023">ENV-2023</option>
<option value="ENV-2024">ENV-2024</option>
<option value="ENV-2025">ENV-2025</option>
<option value="ME-2023">ME-2023</option>
<option value="ME-2024">ME-2024</option>
<option value="ME-2025">ME-2025</option>
<option value="CE-2023">CE-2023</option>
<option value="CE-2024">CE-2024</option>
<option value="CE-2025">CE-2025</option>
          </select>
        </div>

        <div>
          <label for="edit-major_class" class="block text-sm font-medium text-gray-700 mb-1">Class</label>
          <input type="text" id="edit-major_class" name="major_class" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2" >
        </div>

        <div>
          <label for="edit-subject" class="block text-sm font-medium text-gray-700 mb-1">Subject</label>
          <input type="text" id="edit-subject" name="subject" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2" required>
        </div>

        <div>
          <label for="edit-credit" class="block text-sm font-medium text-gray-700 mb-1">Credit</label>
          <select id="edit-credit" name="credit" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2" required>
            <option value="">Select credit</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>

        <div>
          <label for="edit-lecturer1" class="block text-sm font-medium text-gray-700 mb-1">Lecturer 1</label>
          <input type="text" id="edit-lecturer1" name="lecturer_1" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2">
        </div>

        <div>
          <label for="edit-lecturer2" class="block text-sm font-medium text-gray-700 mb-1">Lecturer 2</label>
          <input type="text" id="edit-lecturer2" name="lecturer_2" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2">
        </div>

        <div>
          <label for="edit-lecturer3" class="block text-sm font-medium text-gray-700 mb-1">Lecturer 3</label>
          <input type="text" id="edit-lecturer3" name="lecturer_3" class="w-full border border-gray-300 bg-gray-50 rounded-lg p-2">
        </div>
      </div>

      <div class="flex justify-end gap-2 mt-6">
        <button type="submit" class="bg-blue-700 text-white px-4 py-2 rounded-lg hover:bg-blue-800 transition-colors">
          Save
        </button>
      </div>
    </form>
  </div>
</div>

            </div>

        <div class="bg-gray-50 px-6 py-3 border-t border-gray-200">
                <div class="bg-gray-50 px-6 py-3 border-t border-gray-200">
                    <div class="flex items-center justify-between">
                        <div class="text-sm text-gray-700">
                            Page {{ semester_data.number }} from {{ semester_data.paginator.num_pages }}
                            (Total {{ semester_data.paginator.count }} data)
                        </div>

                        <div class="flex space-x-1">
                            {% if page_range.0 > 1 %}
                                <a href="?page={{ page_range.0|add:"-1" }}"
                                class="px-3 py-1 rounded bg-white border text-gray-700 hover:bg-gray-100">Previous</a>
                            {% else %}
                                <span class="px-3 py-1 rounded bg-gray-200 text-gray-400 cursor-not-allowed">Previous</span>
                            {% endif %}

                            {% for num in page_range %}
                                {% if num == semester_data.number %}
                                    <span class="px-3 py-1 rounded bg-blue-500 text-white font-semibold">{{ num }}</span>
                                {% else %}
                                    <a href="?page={{ num }}"
                                    class="px-3 py-1 rounded bg-white border text-gray-700 hover:bg-gray-100">{{ num }}</a>
                                {% endif %}
                            {% endfor %}

                            {% if page_range|last < semester_data.paginator.num_pages %}
                                <a href="?page={{ page_range|last|add:1 }}"
                                class="px-3 py-1 rounded bg-white border text-gray-700 hover:bg-gray-100">Next</a>
                            {% else %}
                                <span class="px-3 py-1 rounded bg-gray-200 text-gray-400 cursor-not-allowed">Next</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
    
</div>

<script>
  function openAddModal() {
    if (semester === '20253') {
      document.getElementById('addModal20253').classList.remove('hidden');
    } else {
      document.getElementById('addModal').classList.remove('hidden');
    }
  }

  function closeAddModal() {
    if (semester === '20253') {
      document.getElementById('addModal20253').classList.add('hidden');
      document.getElementById('addForm20253').reset();
    } else {
      document.getElementById('addModal').classList.add('hidden');
      document.getElementById('addForm').reset();
    }
  }

const curriculumsByMajor = {
  PS_AB: ["", "AB-2023", "AB-2024", "AB-2025"],
PS_Ak: ["", "ACC-2023", "ACC-2024", "ACC-2025"],
PS_AR: ["", "ARC-2023", "ARC-2024", "ARC-2025"],
PS_BA: ["", "BA-2023", "BA-2024", "BA-2025"],
PS_DI: ["", "ID-2023", "ID-2024", "ID-2025"],
PS_DKV: ["", "VCD-2023", "VCD-2024", "VCD-2025"],
PS_HI: ["", "IR-2023", "IR-2024", "IR-2025"],
PS_Hukum: ["", "LAW-2023", "LAW-2024", "LAW-2025"],
PS_IA: ["", "ACS-2023", "ACS-2024", "ACS-2025"],
PS_IKom: ["", "COMM-2023", "COMM-2024", "COMM-2025"],
PS_Man: ["", "MGT-2023", "MGT-2024", "MGT-2025"],
PS_PGSD: ["", "PSTE-2023", "PSTE-2024", "PSTE-2025"],
PS_SI: ["", "IS-2023", "IS-2024", "IS-2025"],
PS_TE: ["", "EE-2023", "EE-2024", "EE-2025"],
PS_TInd: ["", "IE-2023", "IE-2024", "IE-2025"],
PS_TInf: ["", "IT-2023", "IT-2024", "IT-2025"],
PS_TL: ["", "ENV-2023", "ENV-2024", "ENV-2025"],
PS_TM: ["", "ME-2023", "ME-2024", "ME-2025"],
PS_TS: ["", "CE-2023", "CE-2024", "CE-2025"],
  };

  const classesByCurriculum = {
  "AB-2023": ["M AB-2023 AB - 2023"],
  "AB-2024": [
    "M AB-2024 AGROECOTOURISM",
    "M AB-2024 Food Tech & Agrotourism",
    "M AB-2024 SMART AGRI-INNOVATION",
  ],
  "AB-2025": ["M AB-2025 Class 2", "M AB-2025 Class 1"],
  "ACC-2023": [
    "M ACC-2023 Class-1",
    "M ACC-2023 Class-2",
    "M ACC-2023 Class-3",
    "N ACC-2023 ACC-2023",
  ],
  "ACC-2024": [
    "M ACC-2024 Class Auditing 1",
    "M ACC-2024 Class Auditing 2",
    "M ACC-2024 Class Capital Market 1",
    "M ACC-2024 Class Capital Market 2",
    "M ACC-2024 Class Taxation 1",
    "M ACC-2024 Class Taxation 2",
    "N ACC-2024 Class 1",
    "N ACC-2024 Auditing",
  ],
  "ACC-2025": [
    "M ACC-2025 Class 1",
    "M ACC-2025 Class 2",
    "M ACC-2025 Class 3",
    "M ACC-2025 Class 4",
    "N ACC-2025 ACC-2025",
    "N ACC-2025 Class",
  ],

  "ARC-2023": ["M ARC-2023 ARC 2023"],
  "ARC-2024": ["M ARC-2024 ARC 2024 Class 1", "M ARC-2024 ARC 2024 Class 2"],
  "ARC-2025": ["M ARC-2025 ARC 2025 Class 1", "M ARC-2025 ARC 2025 Class 2"],
  "BA-2023": [
    "M BA-2023 DIGITAL BUSINESS",
    "M BA-2023 GLOBAL BUSINESS",
    "M BA-2023 HOSPITALITY AND TOURISM BUSINESS",
  ],
  "BA-2024": [
    "M BA-2024 DIGITAL BUSINESS",
    "M BA-2024 GLOBAL BUSINESS",
    "M BA-2024 HOSPITALITY AND TOURISM BUSINESS",
    "N BA-2024 RETAIL BUSINESS",
  ],
  "BA-2025": [
    "M BA-2025 CLASS 1",
"M BA-2025 CLASS 2",
"M BA-2025 CLASS 3",
"M BA-2025 CLASS 4",
"M BA-2025 CLASS 5",
"M BA-2025 CLASS 6",
"N BA-2025 CLASS 1",
  ],
  "ID-2023": ["M ID-2023 ID 2023 Class 1", "M ID-2023 ID 2023 Class 2"],
"ID-2024": ["M ID-2024 ID 2024 Class 1", "M ID-2024 ID 2024 Class 2"],
"ID-2025": ["M ID-2025 ID 2025 Class 1", "M ID-2025 ID 2025 Class 2"],
  "VCD-2024": [
    "M VCD-2024 VCD 2024 Animation & Games",
    "M VCD-2024 VCD 2024 Graphic Design & Emerging Media",
],
"VCD-2025": [
    "M VCD-2025 VCD 2025 Class 1",
    "M VCD-2025 VCD 2025 Class 2",
    "M VCD-2025 VCD 2025 Class 3",
],
  "IR-2023": [
    "M IR-2023 Class 1",
    "M IR-2023 Class 2",
    "M IR-2023 Class 3",
    "M IR-2023 Class 4",
    "M IR-2023 Class 5",
    "N IR-2023 Class 1",
],
  "IR-2024": [
    "M IR-2024 Class 1 French",
    "M IR-2024 Class 2 French",
    "M IR-2024 Class 3 French",
    "M IR-2024 Class 4 Japanese",
    "M IR-2024 Class 5 Japanese",
    "M IR-2024 Class 6 Mandarin",
    "M IR-2024 Class 7 Mandarin",
    "M IR-2024 Class 1",
    "M IR-2024 Class 2",
    "M IR-2024 Class 3",
    "M IR-2024 Class 4",
    "M IR-2024 Class 5",
    "M IR-2024 Class 6",
    "M IR-2024 Class 7",
    "N IR-2024 Class 1",
],
  "IR-2025": [
    "M IR-2025 Class 1",
    "M IR-2025 Class 2",
    "M IR-2025 Class 3",
    "M IR-2025 Class 4",
    "M IR-2025 Class 5",
    "M IR-2025 Class 6",
    "M IR-2025 Class 7",
    "M IR-2025 Class 8",
    "M IR-2025 Class 9",
    "M IR-2025 Class 10",
    "N IR-2025 Class",
],
  "LAW-2023": [
    "M LAW-2023 Corporate Law",
    "M LAW-2023 General Law",
    "M LAW-2023 International Law",
    "N LAW-2023 Corporate Law",
],
"LAW-2024": [
    "M LAW-2024 Corporate Law 1",
    "M LAW-2024 Corporate Law 2",
    "M LAW-2024 International Law",
    "M LAW-2024 Litigation Law",
    "N LAW-2024 Corporate Law",
],
"LAW-2025": [
    "M LAW-2025 -1",
    "M LAW-2025 -2",
    "M LAW-2025 -3",
    "M LAW-2025 -4",
    "M LAW-2025 -5",
    "M LAW-2025 -6",
    "N LAW-2025 Class 1",
],
 "ACS-2023": ["M ACS-2023 CLASS 1", "M ACS-2023 CLASS 2"],
"ACS-2024": ["M ACS-2024 CLASS 1", "M ACS-2024 CLASS 2"],
"ACS-2025": ["M ACS-2025 CLASS 1", "M ACS-2025 CLASS 2"],
"COMM-2023": [
    "M COMM-2023 FTV Class",
    "M COMM-2023 CJ Class",
    "N COMM-2023 Class",
    "M COMM-2023 PR Class 1",
    "M COMM-2023 PR Class 2",
],
"COMM-2024": [
    "M COMM-2024 Class 1",
    "M COMM-2024 Class 2",
    "M COMM-2024 Class 3",
    "M COMM-2024 Class 4",
    "M COMM-2024 Public Relations & Digital Communications Class 1",
    "M COMM-2024 Public Relations & Digital Communications Class 2",
    "M COMM-2024 Public Relations & Digital Communications Class 3",
    "M COMM-2024 Film & Media Studies Class 1",
    "M COMM-2024 Film & Media Studies Class 2",
    "N COMM-2024 Class",
    "N COMM-2024 Film & Media Studies",
    "N COMM-2024 Public Relation & Digital Communications",
],
"COMM-2025": [
    "M COMM-2025 Class 1",
    "M COMM-2025 Class 2",
    "M COMM-2025 Class 3",
    "M COMM-2025 Class 4",
    "M COMM-2025 Class 5",
    "N COMM-2025 Class",
],   
  "MGT-2023": [
    "M MGT-2023 BF",
    "M MGT-2023 DCM",
    "M MGT-2023 HCM",
    "M MGT-2023 IB-1",
    "M MGT-2023 IB-2",
    "N MGT-2023 DCM",
    "N MGT-2023 HCM",
],
"MGT-2024": [
    "M MGT-2024 DCM-2",
    "M MGT-2024 DCM-1",
    "M MGT-2024 BF",
    "M MGT-2024 HCM",
    "M MGT-2024 IB-1",
    "M MGT-2024 IB-2",
    "M MGT-2024 IB-3",
    "M MGT-2024 IB-4",
    "N MGT-2024 DCM",
    "N MGT-2024 HCM",
],
"MGT-2025": [
    "M MGT-2025 -1",
    "M MGT-2025 -2",
    "M MGT-2025 -3",
    "M MGT-2025 -4",
    "M MGT-2025 -5",
    "M MGT-2025 -6",
    "M MGT-2025 -7",
    "M MGT-2025 -8",
    "N MGT-2025 Class 1",
],
  "PSTE-2023": ["M PSTE-2023 -1"],
"PSTE-2024": ["M PSTE-2024 -1", "M PSTE-2024 -2"],
"PSTE-2025": ["M PSTE-2025 -1", "M PSTE-2025 -2"],
"IS-2023": [
    "M IS-2023 IS 2023 CLASS 1",
    "M IS-2023 IS 2023 CLASS 2",
    "N IS-2023 Class 1",
],
"IS-2024": [
    "M IS-2024 BUSINESS INTELLIGENCE 2024 CLASS 1",
    "M IS-2024 BUSINESS INTELLIGENCE 2024 CLASS 2",
    "M IS-2024 EIS PLANNING & DEVELOPMENT 2024 CLASS 1",
    "M IS-2024 EIS PLANNING & DEVELOPMENT 2024 CLASS 2",
    "M IS-2024 DATA SCIENCE 2024 CLASS 1",
    "M IS-2024 DATA SCIENCE 2024 CLASS 2",
    "M IS-2024 ERP 2024 CLASS 1",
    "M IS-2024 ERP 2024 CLASS 2",
    "N IS-2024 EIS PLANNING & DEVELOPMENT",
    "N IS-2024 ERP N 2024",
    "N IS-2024 ERP Class",
],
"IS-2025": [
    "M IS-2025 IS 2025 CLASS 1",
    "M IS-2025 IS 2025 CLASS 2",
    "M IS-2025 IS 2025 CLASS 3",
    "M IS-2025 IS 2025 CLASS 4",
    "M IS-2025 IS 2025 CLASS 5",
    "N IS-2025 IS N 2025",
    "N IS-2025 Class",
],
"EE-2023": ["M EE-2023 een 2023", "N EE-2023 Class"],
"EE-2024": ["M EE-2024 Control System", "N EE-2024 Control System"],
"EE-2025": [
    "M EE-2025 EEN 2025 Class 1",
    "M EE-2025 EEN 2025 Class 2",
    "N EE-2025 EEN 2025",
    "N EE-2025 Class",
],
"IE-2023": [
    "M IE-2023 Class 1",
    "M IE-2023 Class 2",
    "N IE-2023 Class 1",
    "N IE-2023 Class 2",
],
"IE-2024": [
    "M IE-2024 Class 1",
    "M IE-2024 Class 2",
    "M IE-2024 Class 3",
    "N IE-2024 Class 1",
    "N IE-2024 Class 2",
],
"IE-2025": [
    "M IE-2025 Class 1",
    "M IE-2025 Class 2",
    "M IE-2025 Class 3",
    "M IE-2025 Class 4",
    "N IE-2025 Class 1",
    "N IE-2025 Class 2",
],
  "IT-2023": [
    "M IT-2023 IT 2023 Class 1",
    "M IT-2023 IT 2023 Class 2",
    "M IT-2023 IT 2023 Class 3",
    "M IT-2023 IT 2023 Class 4",
    "M IT-2023 IT 2023 Class 5",
],
"IT-2024": [
    "M IT-2024 Artificial Intelligence Class 1",
    "M IT-2024 Artificial Intelligence Class 2",
    "M IT-2024 Class 1",
    "M IT-2024 Class 2",
    "M IT-2024 Class 3",
    "M IT-2024 Class 4",
    "M IT-2024 Class 5",
    "M IT-2024 Class 6",
    "M IT-2024 Cyber Security Class 1",
    "M IT-2024 Cyber Security Class 2",
    "M IT-2024 Cyber Security Class 3",
    "M IT-2024 Internet of Things",
    "M IT-2024 Game Development Class 1",
    "M IT-2024 IT 2024 Class 1",
    "M IT-2024 IT 2024 Class 2",
    "M IT-2024 IT 2024 Class 3",
    "M IT-2024 IT 2024 Class 4",
    "M IT-2024 IT 2024 Class 5",
    "M IT-2024 IT 2024 Class 6",
    "M IT-2024 IT 2024 Class 7",
],
"IT-2025": [
    "M IT-2025 IT 2025 Class 1",
    "M IT-2025 IT 2025 Class 2",
    "M IT-2025 IT 2025 Class 3",
    "M IT-2025 IT 2025 Class 4",
    "M IT-2025 IT 2025 Class 5",
    "M IT-2025 IT 2025 Class 6",
    "M IT-2025 IT 2025 Class 7",
    "N IT-2025 IT 2025 N",
    "N IT-2025 Class",
],
"ENV-2023": ["M ENV-2023 ENV 2023", "M ENV-2023 CLASS 1"],
"ENV-2024": [
    "M ENV-2024 Eco-Industrial Park Management",
    "M ENV-2024 Environmental Management",
    "N ENV-2024 Class",
],
"ENV-2025": [
    "M ENV-2025 ENV 2025 Class 1",
    "M ENV-2025 ENV 2025 Class 2",
    "M ENV-2025 CLASS 1",
    "M ENV-2025 CLASS 2",
    "N ENV-2025 Class",
],
"ME-2023": ["M ME-2023 Class 1", "M ME-2023 Class 2", "N ME-2023 Class "],
"ME-2024": [
    "M ME-2024 Class 1",
    "M ME-2024 Class A",
    "N ME-2024 Class 1",
    "N ME-2024 Class A-Ev",
    "N ME-2024 Class",
],
"ME-2025": ["M ME-2025 Class A", "M ME-2025 Class B", "N ME-2025 Class", "N ME-2025 Class 1"],
"CE-2023": ["M CE-2023 M CLASS 1", "M CE-2023 CLASS 1"],
"CE-2024": ["M CE-2024 M CLASS 1", "M CE-2024 CLASS 1"],
"CE-2025": [
    "M CE-2025 M CLASS 1",
    "M CE-2025 M CLASS 2",
    "M CE-2025 CLASS 1",
    "M CE-2025 CLASS 2",
    "N CE-2025 Class",
    "N CE-2025 N CLASS 1",
],
  "": [ // Saat curriculum kosong
    ...[
      "M PS_Hukum CapCut Project: Video Editing for TikTok Content",
      "M PS_Hukum Ambassador's Experience",
      "M PS_Hukum Citizenship",
      "M PS_Hukum Fashion for Professional",
      "M PS_Hukum Golf Class ",
      "M PS_Hukum Golf Class Non-Credits",
      "M PS_Hukum Indonesian Language 1 Non Credits",
      "M PS_Hukum Indonesian Language",
      "M PS_Hukum Music Orchestra 1 Non-Credits",
      "M PS_Hukum Music Orchestra 2",
      "M PS_Hukum Music Orchestra 2 Non-Credits",
      "M PS_Hukum Music Orchestra 3",
      "M PS_Hukum Musicpreneur : Production to Publishing Music",
      "M PS_Hukum Music Orchestra 3 Non-Credits",
      "M PS_Hukum Pancasila",
      "M PS_Hukum Padel",
      "M PS_Hukum Pre-Internship",
      "M PS_Hukum Projects: Tiktok Cinema: From Acting to Production",
      "M PS_Hukum Projects: Video Editing for TikTok Content I",
      "M PS_Hukum Projects: Video Editing for TikTok Content I Non Credits",
      "M PS_Hukum Survival English (Batch 2022)",
      "M PS_Hukum Religion",
      "M PS_Hukum Taylor Swift",
      "M PS_Hukum Tennis",
      "M PS_Hukum Vocal Technique 1 Non-Credits",
      "M PS_Hukum TikTok for Content Creators",
      "M PS_Hukum Vocal Technique 2",
      "M PS_Hukum Vocal Technique 2 Non-Credits",
      "N PS_Hukum Open Class",
      "N PS_Hukum By Course 1",
      "N PS_Hukum By Course 2",
      "M PS_HI By Course",
      "M PS_BA Statistics and Data Literacy",
      "M PS_BA Multimodal Communication",
      "M PS_TE By Course 1",
      "M PS_TE By Course 2",
      "N PS_TE Final Project By Course 1",
      "N PS_TE Final Project By Course 2",
      "M PS_TL Environmental Circular Economy",
      "M PS_TL Industrial Hygiene",
      "N PS_TL Final Project By Course 1",
      "N PS_TL Final Project By Course 2",
      "N PS_TM Advance Manufacturing and Sustainable Industri",
      "N PS_TM Electric Vehicle Technology",
      "N PS_TM By Course 1",
      "N PS_TM By Course 2",
      "M PS_TM By Course 1",
      "M PS_TM By Course 2",
      "N PS_TM Final Project By Course 1",
      "N PS_TM Final Project By Course 2",
      "M PS_TS Extra Class",
      "N PS_TS Extra Class",
    ]
  ],
};

  const majorSelect = document.getElementById("majorSelect");
  const curriculumSelect = document.getElementById("curriculumSelect");
  const classSelect = document.getElementById("classSelect");

  fetch('/subjects/')
    .then(response => response.json())
    .then(data => {
      const datalist = document.getElementById("subjectList");
      data.forEach(subject => {
        const option = document.createElement("option");
        option.value = subject;
        datalist.appendChild(option);
      });
    })
    .catch(error => console.error('Error loading subjects:', error));

  majorSelect.addEventListener("change", function () {
    const selectedMajor = this.value;

  
    curriculumSelect.innerHTML = '<option value="">Select curriculum</option>';
    classSelect.innerHTML = '<option value="">Select class</option>';

    if (curriculumsByMajor[selectedMajor]) {
      curriculumsByMajor[selectedMajor].forEach(curr => {
        const option = document.createElement("option");
        option.value = curr;
        option.textContent = curr;
        curriculumSelect.appendChild(option);
      });
    }
  });

  curriculumSelect.addEventListener("change", function () {
    const selectedCurriculum = this.value;

    classSelect.innerHTML = '<option value="">Select class</option>';

    if (classesByCurriculum[selectedCurriculum]) {
      classesByCurriculum[selectedCurriculum].forEach(cls => {
        const option = document.createElement("option");
        option.value = cls;
        option.textContent = cls;
        classSelect.appendChild(option);
      });
    }
  });

document.addEventListener('DOMContentLoaded', function () {
  if (semester === '20253') {
    
    const majorSelect = document.getElementById("majorSelect20253");
    const curriculumSelect = document.getElementById("curriculumSelect20253");
    const classSelect = document.getElementById("classSelect20253");

    majorSelect?.addEventListener("change", function () {
      const selectedMajor = this.value;

      curriculumSelect.innerHTML = '<option value="">Select curriculum</option>';
      classSelect.innerHTML = '<option value="">Select class</option>';

      if (curriculumsByMajor[selectedMajor]) {
        curriculumsByMajor[selectedMajor].forEach(curr => {
          const option = document.createElement("option");
          option.value = curr;
          option.textContent = curr;
          curriculumSelect.appendChild(option);
        });
      }
    });

    curriculumSelect?.addEventListener("change", function () {
      const selectedCurriculum = this.value;
      classSelect.innerHTML = '<option value="">Select class</option>';

      if (classesByCurriculum[selectedCurriculum]) {
        classesByCurriculum[selectedCurriculum].forEach(cls => {
          const option = document.createElement("option");
          option.value = cls;
          option.textContent = cls;
          classSelect.appendChild(option);
        });
      }
    });

    
    fetch('/subjects/')
      .then(response => response.json())
      .then(data => {
        const datalist = document.getElementById("subjectList20253");
        data.forEach(subject => {
          const option = document.createElement("option");
          option.value = subject;
          datalist.appendChild(option);
        });
      })
      .catch(error => console.error('Error loading subjects:', error));

  
    const form20253 = document.getElementById('addForm20253');
    if (form20253) {
      form20253.addEventListener('submit', function (e) {
        e.preventDefault();

        const formData = new FormData(this);

        fetch(`/add-academic-module/${semester}/`, {
          method: 'POST',
          body: formData,
          headers: {
            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
          }
        })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            alert(data.message);
            closeAddModal();
            window.location.reload();
          } else {
            alert('Error: ' + data.error);
          }
        })
        .catch(error => {
          console.error('Error:', error);
          alert('Terjadi kesalahan saat menambah data');
        });
      });
    }

  } else {
    
    const form = document.getElementById('addForm');
    if (form) {
      form.addEventListener('submit', function (e) {
        e.preventDefault();

        const formData = new FormData(this);

        fetch(`/add-academic-module/${semester}/`, {
          method: 'POST',
          body: formData,
          headers: {
            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
          }
        })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            alert(data.message);
            closeAddModal();
            window.location.reload();
          } else {
            alert('Error: ' + data.error);
          }
        })
        .catch(error => {
          console.error('Error:', error);
          alert('Terjadi kesalahan saat menambah data');
        });
      });
    }
  }
});


const semester = '{{ active_semester }}';

function openEdit(button) {
  const id = button.getAttribute('data-id');
  const session = button.getAttribute('data-session');
  const major = button.getAttribute('data-major');
  const curriculum = button.getAttribute('data-curriculum');
  const major_class = button.getAttribute('data-major_class');
  const subject = button.getAttribute('data-subject');
  const credit = button.getAttribute('data-credit');
  const lecturer1 = button.getAttribute('data-lecturer1');
  const lecturer2 = button.getAttribute('data-lecturer2');
  const lecturer3 = button.getAttribute('data-lecturer3');

  document.querySelectorAll(`#editForm${semester === '20253' ? '20253' : ''} #record-id`)[0].value = id;
  document.querySelector(`#editForm${semester === '20253' ? '20253' : ''} #edit-session`).value = session || '';
  document.querySelector(`#editForm${semester === '20253' ? '20253' : ''} #edit-major`).value = major || '';
  document.querySelector(`#editForm${semester === '20253' ? '20253' : ''} #edit-curriculum`).value = curriculum || '';
  document.querySelector(`#editForm${semester === '20253' ? '20253' : ''} #edit-major_class`).value = major_class || '';
  document.querySelector(`#editForm${semester === '20253' ? '20253' : ''} #edit-subject`).value = subject || '';
  document.querySelector(`#editForm${semester === '20253' ? '20253' : ''} #edit-credit`).value = credit || '';
  document.querySelector(`#editForm${semester === '20253' ? '20253' : ''} #edit-lecturer1`).value = lecturer1 || '';
  document.querySelector(`#editForm${semester === '20253' ? '20253' : ''} #edit-lecturer2`).value = lecturer2 || '';
  document.querySelector(`#editForm${semester === '20253' ? '20253' : ''} #edit-lecturer3`).value = lecturer3 || '';

  
  document.getElementById(semester === '20253' ? 'editModal20253' : 'editModal').classList.remove('hidden');
}

function closeEdit() {
  document.getElementById(semester === '20253' ? 'editModal20253' : 'editModal').classList.add('hidden');
}


document.getElementById(semester === '20253' ? 'editForm20253' : 'editForm').addEventListener('submit', function (e) {
  e.preventDefault();
  const formData = new FormData(this);

  fetch(`/edit-academic-module/${semester}/`, {
    method: 'POST',
    body: formData,
    headers: {
      'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
    }
  })
  .then(response => response.json())
  .then(data => {
    if (data.success) {
      alert(data.message);
      closeEdit();
      window.location.reload();
    } else {
      alert('Error: ' + data.error);
      console.error('Backend error details:', data.details || 'No details provided');
    }
  })
  .catch(error => {
    console.error('Error:', error);
    alert('Terjadi kesalahan saat menyimpan data');
  });
});


function deleteRecord(semesterId) {
  if (confirm("Are you sure you want to delete this record?")) {
    fetch(`/delete-academic-module/${semester}/${semesterId}/`, {
      method: 'POST',
      headers: {
        'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
      }
    })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        alert(data.message);
        window.location.reload();
      } else {
        alert('Error: ' + data.error);
      }
    })
    .catch(error => {
      console.error('Error:', error);
      alert('Terjadi kesalahan saat menghapus data');
    });
  }
}
</script>
<script>
const semester = '{{ active_semester }}'; 
document.getElementById('lecturerFilter').addEventListener('keyup', function () {
  const filterValue = this.value.toLowerCase();
  const tableRows = document.querySelectorAll('tbody tr');

  tableRows.forEach(row => {
    const lecturer1 = row.children[7]?.textContent.toLowerCase() || '';
    const lecturer2 = row.children[8]?.textContent.toLowerCase() || '';
    const lecturer3 = row.children[9]?.textContent.toLowerCase() || '';

    const match = lecturer1.includes(filterValue) || lecturer2.includes(filterValue) || lecturer3.includes(filterValue);

    if (match || filterValue === '') {
      row.style.display = '';
    } else {
      row.style.display = 'none';
    }
  });
});
</script>

{% endblock %}