{% extends 'dashboard.html' %}
{% load static %}
{% block title %}Study Programs{% endblock %}

{% block content %}

<main id="main-content" class="w-full p-8">

    {% if messages %}
<div id="toast-container" class="fixed top-18 right-4 z-50 transition-opacity duration-500 ease-in-out opacity-100">
    {% for message in messages %}
    <div class="flex items-center gap-2 mb-2 px-4 py-3 rounded-lg shadow-lg text-white 
                {% if message.tags == 'success' %}bg-emerald-500
                {% elif message.tags == 'error' %}bg-rose-500
                {% else %}bg-gray-800{% endif %}"
        role="alert"
        id="toast-message">
        
        {% if message.tags == 'success' %}
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2l4 -4" />
        </svg>
        {% elif message.tags == 'error' %}
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
        {% endif %}

        <span>{{ message }}</span>
    </div>
    {% endfor %}
</div>

<script>
    setTimeout(() => {
        const toast = document.getElementById('toast-container');
        if (toast) {
            toast.classList.add('opacity-0'); 
            setTimeout(() => toast.remove(), 500); 
        }
    }, 3000);
</script>
{% endif %}


    <div class="bg-white rounded-lg shadow-md mb-4 p-4">
        <div class="flex items-center justify-between">

            <div class="flex items-center space-x-4">
                <div class="flex space-x-1">
                    <button id="filterAll" class="px-3 py-1 text-sm font-medium rounded-md bg-blue-100 text-blue-800 border border-blue-200">
                        All
                    </button>
                    <button id="filterM" class="px-3 py-1 text-sm font-medium rounded-md bg-gray-100 text-gray-800 border border-gray-200 hover:bg-gray-200">
                        M
                    </button>
                    <button id="filterN" class="px-3 py-1 text-sm font-medium rounded-md bg-gray-100 text-gray-800 border border-gray-200 hover:bg-gray-200">
                        N
                    </button>
                </div>
                <div class="relative w-64">
                    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                        </svg>
                    </div>
                    <input type="text" id="searchInput" 
                           class="block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md leading-5 bg-white placeholder-gray-500 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" 
                           placeholder="Filter...">
                </div>
            </div>

            <div class="flex items-center space-x-1">
                <a href="{% url 'studyprogram' '20251' %}" 
                   class="px-4 py-2 text-sm font-medium {% if active_semester == '20251' %}text-blue-600 border-b-2 border-blue-600{% else %}text-gray-500 hover:text-gray-700 hover:border-b-2 hover:border-gray-300{% endif %}">
                    20251
                </a>
                <a href="{% url 'studyprogram' '20252' %}" 
                   class="px-4 py-2 text-sm font-medium {% if active_semester == '20252' %}text-blue-600 border-b-2 border-blue-600{% else %}text-gray-500 hover:text-gray-700 hover:border-b-2 hover:border-gray-300{% endif %}">
                    20252
                </a>
                <a href="{% url 'studyprogram' '20253' %}" 
                   class="px-4 py-2 text-sm font-medium {% if active_semester == '20253' %}text-blue-600 border-b-2 border-blue-600{% else %}text-gray-500 hover:text-gray-700 hover:border-b-2 hover:border-gray-300{% endif %}">
                    20253
                </a>
            </div>
        </div>
    </div>

    <div class="bg-white rounded-lg shadow-md overflow-hidden">

        <div class="bg-gray-50 px-6 py-4 border-b border-gray-200">
            <h2 class="text-2xl font-bold text-gray-800">Semester {{semester_title}}</h2>
            <p class="text-gray-600 mt-1">Information: Study Program</p>
        </div>

        <div class="w-full overflow-x-auto rounded-md border border-gray-200">
            <table class="w-full divide-y divide-gray-200 min-w-[1000px]">
                <thead class="bg-gray-50">
                    <tr>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Program Session</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Major</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Curriculum</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Class</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Subject</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Cr</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Lecturer1</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Lecturer2</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Lecturer3</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Status</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Action</th>
                    </tr>
                </thead>
                
                <tbody class="bg-white divide-y divide-gray-200">
                    {% for item in semester_data %}
                    <tr class="hover:bg-gray-50">
                    <td class="px-6 py-4 text-sm text-gray-900 ">{{ item.semester_id}}</td>
                    <td class="px-6 py-4 text-sm text-gray-900 ">{{ item.program_session }}</td>
                    <td class="px-6 py-4 text-sm text-gray-900 ">{{ item.major }}</td>
                    <td class="px-6 py-4 text-sm text-gray-900 ">{{ item.curriculum }}</td>
                    <td class="px-6 py-4 text-sm text-gray-900 ">{{ item.major_class }}</td>
                    <td class="px-6 py-4 text-sm text-gray-900 ">{{ item.subject }}</td>
                    <td class="px-6 py-4 text-sm text-gray-900 ">{{ item.credit }}</td>
                    <td class="px-6 py-4 text-sm text-gray-900 ">{{ item.lecturer_1 }}</td>
                    <td class="px-6 py-4 text-sm text-gray-900 ">{{ item.lecturer_2 }}</td>
                    <td class="px-6 py-4 text-sm text-gray-900 ">{{ item.lecturer_3 }}</td>
                    <td class="px-6 py-4 text-sm">
                         {% if item.is_assigned %}
                            <span class="inline-flex px-2 py-1 text-xs font-semibold rounded-full bg-green-100 text-green-800">
                                Completed
                            </span>
                        {% else %}
                            <span class="inline-flex px-2 py-1 text-xs font-semibold rounded-full bg-yellow-100 text-yellow-600">
                                Pending
                            </span>
                        {% endif %}
                    </td>
                        <td class="px-6 py-4  text-sm font-medium">
                        <div class="flex space-x-2">
                            {% if item.is_assigned %}
                                <button onclick="openAssign(this)"
                                    data-semester-id="{{ item.semester_id }}"
                                    data-entry-id="{{ item.assign_id }}"
                                    class="text-sky-600 hover:text-sky-900 bg-sky-100 hover:bg-sky-200 px-3 py-1 rounded-md text-xs font-medium transition-colors cursor-pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75a4.5 4.5 0 0 1-4.884 4.484c-1.076-.091-2.264.071-2.95.904l-7.152 8.684a2.548 2.548 0 1 1-3.586-3.586l8.684-7.152c.833-.686.995-1.874.904-2.95a4.5 4.5 0 0 1 6.336-4.486l-3.276 3.276a3.004 3.004 0 0 0 2.25 2.25l3.276-3.276c.256.565.398 1.192.398 1.852Z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.867 19.125h.008v.008h-.008v-.008Z" />
                                    </svg>
                                </button>
                                <form method="POST" action="{% url 'assignlecturer_delete' %}" onsubmit="return confirm('Are you sure you want to delete this?');">
                                    {% csrf_token %}
                                    <input type="hidden" name="semester_id" value="{{ item.semester_id }}">
                                    <button type="submit"
                                        class="text-red-600 hover:text-red-900 bg-red-100 hover:bg-red-200 px-3 py-1 rounded-md text-xs font-medium transition-colors cursor-pointer">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                        </svg>
                                    </button>
                                </form>
                            {% else %}
                                <button onclick="openAssign(this)"
                                    data-semester-id="{{ item.semester_id }}"
                                    class="text-indigo-600 hover:text-indigo-900 bg-indigo-100 hover:bg-indigo-200 px-3 py-1 rounded-md text-xs font-medium transition-colors cursor-pointer">
                                    Assign
                                </button>
                                <form method="POST" action="{% url 'assignlecturer_delete' %}" onsubmit="return confirm('Are you sure you want to delete this?');">
                                    {% csrf_token %}
                                    <input type="hidden" name="semester_id" value="{{ item.semester_id }}">
                                    <button type="submit"
                                        class="text-red-600 hover:text-red-900 bg-red-100 hover:bg-red-200 px-3 py-1 rounded-md text-xs font-medium transition-colors cursor-pointer">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                        </svg>
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                    </td>
                    {% endfor %}
                </tbody>
            </table>
        </div>

            <div id="assignMorning" class="fixed inset-0 bg-gray-800/20 flex items-center justify-center z-50 hidden">
            <div class="bg-white rounded-lg w-full max-w-lg p-6 shadow-lg">
                <div class="flex justify-between items-center">
                <h2 class="text-lg font-semibold mt-3 mb-4">Assign Schedule</h2>
                <button type="button" onclick="closeAssign()" class="group">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 group-hover:text-red-600 cursor-pointer">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>

                </button>
                </div>

                <form id="assignForm" method="POST" action="{% url 'assignlecturer_create' %}">
                    {% csrf_token %}
                    <input type="hidden" id="assignSemesterId" name="semester_id">
                    <input type="hidden" id="assignEntryId" name="entry_id">
                    <input type="hidden" name="semester_url" value="{{ active_semester }}">
                <div class="mb-8">
                    <label for="day" class="block text-sm font-medium text-gray-700">Day</label>
                    <select id="day" name="day" class="mt-1 block w-full h-12 border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-200 cursor-pointer" required>
                    <option>Mon</option>
                    <option>Tue</option>
                    <option>Wed</option>
                    <option>Thu</option>
                    <option>Fri</option>
                    </select>
                </div>

                <div class="mb-4">
                    <label for="room" class="block text-sm font-medium text-gray-700">Room</label>
                    <select id="room" name="room" class="mt-1 block w-full h-12 border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-200 cursor-pointer" required>
                        <option>A420</option>
                        <option>A421</option>
                        <option>A423 Moot Court Room</option>
                        <option>A424</option>
                        <option>A428 (Lab Accounting)</option>
                        <option>A429 (MMTek Classroom)</option>
                    {% for room in rooms1 %}
                        <option value="{{ room }}">{{ room }}</option>
                    {% endfor %}
                        <option>B109 (VCD)</option>
                        <option>B110 (VCD)</option>
                    {% for room in rooms2 %}
                        <option value="{{ room }}">{{ room }}</option>
                    {% endfor %}
                    {% for room in rooms3 %}
                        <option value="{{ room }}">{{ room }}</option>
                    {% endfor %}
                    {% for room in rooms4 %}
                        <option value="{{ room }}">{{ room }}</option>
                    {% endfor %}
                        <option>C201 (Interior Design Laboratory) (PUCC)</option>
                        <option>C202 (PUCC)</option>
                        <option>C203 (Architecture Laboratory) (PUCC)</option>
                        <option>C204 (Architecture Laboratory) (PUCC)</option>
                        <option>D103 (Movieland)</option>
                        <option>Lab Mechanical Engineering</option>
                        <option>Lab Electrical Engineering</option>
                        <option>Lab Chemistry</option>
                        <option>Lab FTV</option>
                        <option>Lab A209</option>
                        <option>Lab A210</option>
                        <option>Lab A211</option>
                        <option>Lab A214</option>
                        <option>Lab A215</option>
                        <option>Lab A216</option>
                        <option>Theatre 1 PUCC</option>
                        <option>Theatre 2 PUCC</option>
                        <option>Theatre 3 PUCC</option>
                        <option>Fablab Training Room</option>
                        <option>Jababeka Golf</option>
                        <option>Jababeka Golf (Tennis)</option>
                        <option>Music Room (PUCC)</option>
                        <option>Online Class</option>
                    </select>
                </div>

                <div class="flex gap-4">
                <div class="w-1/2 mb-4">
                    <label for="time" class="block text-sm font-medium text-gray-700">Start Time</label>
                     <select id="time" name="time" class="mt-1 block w-full h-12 border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-200 cursor-pointer" required>
                        <option>7:00</option>
                        <option>7:50</option>
                        <option>8:40</option>
                        <option>9:30</option>
                        <option>10:20</option>
                        <option>11:10</option>
                        <option>12:00</option>
                        <option>12:50</option>
                        <option>13:40</option>
                        <option>14:30</option>
                        <option>15:20</option>
                        <option>16:10</option>
                        <option>17:00</option>
                        <option>17:50</option>
                        <option>18:40</option>
                    </select>
                </div>

                <div class="w-1/2 mb-4">
                    <label for="time" class="block text-sm font-medium text-gray-700">End Time</label>
                     <select id="time2" name="time2" class="mt-1 block w-full h-12 border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-200 cursor-pointer" required>
                        <option>7:45</option>
                        <option>8:35</option>
                        <option>9:25</option>
                        <option>10:15</option>
                        <option>11:05</option>
                        <option>11:55</option>
                        <option>12:45</option>
                        <option>13:35</option>
                        <option>14:25</option>
                        <option>15:15</option>
                        <option>16:05</option>
                        <option>16:55</option>
                        <option>17:45</option>
                        <option>18:35</option>
                        <option>19:25</option>
                    </select>
                </div>
                </div>

                <div class="flex justify-end space-x-2">
                    <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 text-sm cursor-pointer">Save</button>
                </div>
                </form>

            </div>
            </div>


        <div class="bg-gray-50 px-6 py-3 border-t border-gray-200">
                <div class="bg-gray-50 px-6 py-3 border-t border-gray-200">
                    <div class="flex items-center md:justify-between justify-start">
                        <div class="hidden md:block text-sm text-gray-700">
                            Page {{ semester_data.number }} from {{ semester_data.paginator.num_pages }}
                            (Total {{ semester_data.paginator.count }} data)
                        </div>

                        <div class="flex space-x-1">
                            {% if page_range.0 > 1 %}
                                <a href="?page={{ page_range.0|add:"-1" }}"
                                class="px-3 py-1 rounded bg-white border text-gray-700 hover:bg-gray-100">Previous</a>
                            {% else %}
                                <span class="px-3 py-1 rounded bg-gray-200 text-gray-400 cursor-not-allowed">Previous</span>
                            {% endif %}

                            {% for num in page_range %}
                                {% if num == semester_data.number %}
                                    <span class="px-3 py-1 rounded bg-blue-500 text-white font-semibold">{{ num }}</span>
                                {% else %}
                                    <a href="?page={{ num }}"
                                    class="px-3 py-1 rounded bg-white border text-gray-700 hover:bg-gray-100">{{ num }}</a>
                                {% endif %}
                            {% endfor %}

                            {% if page_range|last < semester_data.paginator.num_pages %}
                                <a href="?page={{ page_range|last|add:1 }}"
                                class="px-3 py-1 rounded bg-white border text-gray-700 hover:bg-gray-100">Next</a>
                            {% else %}
                                <span class="px-3 py-1 rounded bg-gray-200 text-gray-400 cursor-not-allowed">Next</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
    
</main>


<script>
function openAssign(button) {
    const semesterId = button.getAttribute('data-semester-id');
    const entryId = button.getAttribute('data-entry-id');

    document.getElementById('assignSemesterId').value = semesterId;
    document.getElementById('assignEntryId').value = entryId || '';
    document.querySelector('input[name="semester_url"]').value = "{{ active_semester }}";
    document.getElementById('assignMorning').classList.remove('hidden');
}

function closeAssign() {
  document.getElementById('assignMorning').classList.add('hidden');
}

document.addEventListener('DOMContentLoaded', function() {
    const filterAll = document.getElementById('filterAll');
    const filterM = document.getElementById('filterM');
    const filterN = document.getElementById('filterN');
    const tableRows = document.querySelectorAll('tbody tr');
    const searchInput = document.getElementById('searchInput');

    function filterRows(programSession = null) {
        const searchTerm = searchInput.value.toLowerCase();
        
        tableRows.forEach(row => {
            const programSessionCell = row.querySelector('td:nth-child(2)');
            const programSessionValue = programSessionCell.textContent.trim();
            const rowText = row.textContent.toLowerCase();
            
            const matchesProgramSession = !programSession || programSessionValue.includes(programSession);
            const matchesSearch = !searchTerm || rowText.includes(searchTerm);
            
            row.style.display = (matchesProgramSession && matchesSearch) ? '' : 'none';
        });
    }

    filterAll.addEventListener('click', () => {
        filterAll.classList.add('bg-blue-100', 'text-blue-800', 'border-blue-200');
        filterAll.classList.remove('bg-gray-100', 'text-gray-800', 'border-gray-200');
        filterM.classList.remove('bg-blue-100', 'text-blue-800', 'border-blue-200');
        filterN.classList.remove('bg-blue-100', 'text-blue-800', 'border-blue-200');
        filterRows();
    });

    filterM.addEventListener('click', () => {
        filterM.classList.add('bg-blue-100', 'text-blue-800', 'border-blue-200');
        filterM.classList.remove('bg-gray-100', 'text-gray-800', 'border-gray-200');
        filterAll.classList.remove('bg-blue-100', 'text-blue-800', 'border-blue-200');
        filterN.classList.remove('bg-blue-100', 'text-blue-800', 'border-blue-200');
        filterRows('M');
    });

    filterN.addEventListener('click', () => {
        filterN.classList.add('bg-blue-100', 'text-blue-800', 'border-blue-200');
        filterN.classList.remove('bg-gray-100', 'text-gray-800', 'border-gray-200');
        filterAll.classList.remove('bg-blue-100', 'text-blue-800', 'border-blue-200');
        filterM.classList.remove('bg-blue-100', 'text-blue-800', 'border-blue-200');
        filterRows('N');
    });


    searchInput.addEventListener('input', () => {
        let activeFilter = null;
        if (filterM.classList.contains('bg-blue-100')) activeFilter = 'M';
        else if (filterN.classList.contains('bg-blue-100')) activeFilter = 'N';
        
        filterRows(activeFilter);
    });

 
    filterRows();
});

</script>

{% endblock %}