{% extends 'dashboard_lecturer_view.html' %}
{% load static %}

{% block title %}View Schedule 20253{% endblock %}

{% block content %}
<div id="main-content" class="w-full p-12 select-none">
  <div class="flex justify-between items-center mb-5">
    <h1 class="printable-content text-3xl font-bold text-blue-900">Schedule Information</h1>
  </div>

  <form method="get" action="{% url 'viewschedule20253' %}">
  <div class="flex gap-4 mb-4">
    <select name="day" class="bg-white px-4 py-2 border border-gray-300 rounded">
      <option value="">All Days</option>
      <option value="Mon" {% if day == 'Mon' %}selected{% endif %}>Monday</option>
      <option value="Tue" {% if day == 'Tue' %}selected{% endif %}>Tuesday</option>
      <option value="Wed" {% if day == 'Wed' %}selected{% endif %}>Wednesday</option>
      <option value="Thu" {% if day == 'Thu' %}selected{% endif %}>Thursday</option>
      <option value="Fri" {% if day == 'Fri' %}selected{% endif %}>Friday</option>
    </select>
    <button type="submit" class="px-6 py-2 bg-blue-500 text-white rounded">Search</button>
  </div>
  </form>

  <div class="printable-content bg-white rounded-lg shadow-sm overflow-hidden">
    <div class="overflow-x-auto">
      <table class="w-full">
        <thead class="bg-gray-200 border-b border-gray-300">
          <tr>
            <th class="px-6 py-4 text-left text-sm font-semibold text-gray-700">No.</th>
            <th class="px-6 py-4 text-left text-sm font-semibold text-gray-700">Lecturer Name</th>
            <th class="px-6 py-4 text-left text-sm font-semibold text-gray-700">Subject</th>
            <th class="px-6 py-4 text-center text-sm font-semibold text-gray-700">Class</th>
            <th class="px-6 py-4 text-center text-sm font-semibold text-gray-700">Schedule Time</th>
            <th class="px-6 py-4 text-center text-sm font-semibold text-gray-700">Room</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          {% if no_schedule_warning %}
          <tr>
            <td colspan="6" class="px-6 py-4 text-center text-sm text-gray-600">
              <div class="h-40 flex flex-col items-center justify-center text-gray-400">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" width="50" height="50">
                    <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="1.5"></circle>
                    <path d="M9 17C9.85038 16.3697 10.8846 16 12 16C13.1154 16 14.1496 16.3697 15 17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                    <ellipse cx="15" cy="10.5" rx="1" ry="1.5" fill="currentColor"></ellipse>
                    <ellipse cx="9" cy="10.5" rx="1" ry="1.5" fill="currentColor"></ellipse>
                </svg>
                <p class="text-lg">No schedule</p>
              </div>
            </td>
          </tr>
          {% else %}
            {% for schedule in schedule_data %}
            <tr class="hover:bg-gray-50">
              <td class="px-6 py-4 text-sm text-gray-900">{{ forloop.counter }}</td>
              <td class="px-6 py-4 text-sm text-gray-600">
                {% if schedule.semester.lecturer_2 and schedule.semester.lecturer_3 %}
                  {{ schedule.semester.lecturer_1 }} <br> {{ schedule.semester.lecturer_2 }} <br> {{ schedule.semester.lecturer_3 }}
                {% elif schedule.semester.lecturer_2 %}
                  {{ schedule.semester.lecturer_1 }} <br> {{ schedule.semester.lecturer_2 }}
                {% else %}
                  {{ schedule.semester.lecturer_1 }}
                {% endif %}
              </td>
              <td class="px-6 py-4 text-sm text-gray-600">{{ schedule.semester.subject }}</td>
              <td class="px-6 py-4 text-sm text-gray-600">{{ schedule.semester.major_class }}</td>
              <td class="px-6 py-4 text-center text-sm text-gray-600">
                {{ schedule.lecturer_day }}, {{ schedule.start_time }} - {{ schedule.end_time }}
              </td>
              <td class="px-6 py-4 text-center text-sm text-gray-600">
                {{ schedule.room }}
              </td>
            </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="mt-4 flex justify-between text-sm text-gray-600 p-4">
    <span>Showing All Schedule</span>
    <span>Page 1 of 1</span>
  </div>


</div>
{% endblock %}

{% block extra_script %}
<script src="https://unpkg.com/lucide-static@latest/dist/lucide.min.js"></script>
<script>
  lucide.createIcons();
</script>
{% endblock %}
